QWidget {
    background-color: #111111;
    color: #EEEEEE;
    font-family: "DejaVu Sans Mono";
    font-size: 13pt;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}
QTextEdit {
    background-color: #000000;
}
QMenuBar {
    font-weight: bold;
}
